.textBelowMainDisplay{
    padding-top: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  .textBelowMainDisplay .question{
    color: rgba(17, 45, 70, 1);
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 0%;
    margin: 0%;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  .textBelowMainDisplay .customize{
  color:rgba(96, 94, 94, 1);
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 0%;
    margin: 0%;
    margin-bottom: 2%;
  letter-spacing: 1px;
  text-transform: capitalize;
  }
  