.ChooseUsFLower{
    position: relative;
}
.flower{
    position: absolute;
    top: 15%;
    left: 15%;
}
.ChooseHeading{
    text-align: left;
    font-size: 25px;
    font-family: Lato;
    letter-spacing: 3.31px;
    font-weight: 600;
    color: #112D46;
    padding-bottom: 0%;
    text-transform: capitalize;
    opacity: 1;
}


.ChooseText{
    text-align: left;
font-size: 18px;
font-family: Lato;
padding-top: 0%;
letter-spacing: 0.15px;
color: #707070;
word-spacing: 3px;
text-transform: capitalize;
opacity: 0.50;
}

@font-face{
    font-family: "Lato";
    src: url('./../../../assets/Fonts/Lato-Regular.ttf') format("truetype");
  }

.subMenuHeading{
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    
}
.subMenuText{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    opacity: 0.8;
}

.chooseFraming{
        border-radius: 25px;
        text-decoration: none;
        background: none;
        box-shadow: none;
        width: 100%;
        height: 50px;
        cursor: pointer;
        border-color: rgba(17, 45, 70, 1);
      }
      .chooseFraming:hover{
        background: rgba(17, 45, 70, 1) 0% 0% no-repeat padding-box;
      border: 2px solid rgba(17, 45, 70, 1);
      opacity: 1;
      border: none;
      color: white;
      }
      
      
  
  @media screen and (max-width: 600px) {
    .chooseFraming{
        text-align: center;
        justify-content: center;
    }
  }